* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  font-family: Heebo;
  line-height: 1;
  color: #111;
}

.parallax__layer-fall, .parallax__layer-summer, .parallax__layer-spring, .parallax__layer-winter {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 100vh 0;
}

.parallax__content-img-fall, .parallax__content-img-summer, .parallax__content-img-spring, .parallax__content-img-winter {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  box-shadow: -1px -20px 48px 17px rgba(5, 9, 13, 0.8);
}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}
.parallax__group-fall {
  margin-top: auto;
}
.parallax__layer-winter {
  top: 0;
}
.parallax__layer-spring {
  top: 250%;
}
.parallax__layer-summer {
  top: 350%;
}
.parallax__layer-fall {
  top: 450%;
}
.parallax__content-winter {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 5em;
}
.parallax__content-spring {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: #fff;
}
.parallax__content-summer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: #fff;
}
.parallax__content-fall {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  color: #111;
}
.parallax__content-img-winter {
  transform: translate(-50%, -50%) scale(65%);
}
.parallax__content-img-spring {
  transform: translate(-50%, -50%) scale(55%);
}
.parallax__content-img-summer {
  transform: translate(-50%, -50%) scale(100%);
}
.parallax__content-img-fall {
  transform: translate(-50%, -50%) scale(70%);
}
.parallax__layer-base-winter {
  transform: translateZ(0);
}
.parallax__layer-base-spring {
  transform: translateZ(0);
}
.parallax__layer-base-summer {
  transform: translateZ(0);
}
.parallax__layer-base-fall {
  transform: translateZ(0);
}
.parallax__layer-back-winter {
  transform: translateZ(-2px) scale(3);
}
.parallax__layer-back-spring {
  transform: translateZ(-1px) scale(2);
}
.parallax__layer-back-summer {
  transform: translateZ(-1px) scale(2);
}
.parallax__layer-back-fall {
  transform: translateZ(0);
}

.footer {
  margin-top: auto;
}